:root {

    font-family: "DM+Sans", sans-serif;

    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --Dark-white: hsl(0deg 0% 96.08%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

}


/* universal */

.card-wrapper {
    border-radius: 1rem;
    padding: 1rem;

}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "grid-group-one grid-group-two grid-group-two grid-group-three"
        "grid-group-one grid-group-two grid-group-two grid-group-three"
        "grid-group-one grid-group-four grid-group-four grid-group-four";
    gap: 1.5rem;
    background-color: var(--Dark-white);
}

main>* {
    display: grid;
}


.grid-group-one {
    grid-area: grid-group-one;
    gap: 1.5rem;

}

.grid-group-two {
    gap: 1.5rem;
    grid-area: grid-group-two;
}

.grid-group-two__inside-element {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid-group-three {
    grid-area: grid-group-three;
}

.grid-group-four {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-area: grid-group-four;
}

/* background color modifiers */

.card-wrapper--purple-500 {
    background-color: var(--Purple-500);
    color: var(--White);
}

.card-wrapper--purple-100 {
    background-color: var(--Purple-100);
}

.card-wrapper--yellow-500 {
    background-color: var(--Yellow-500);
}

.card-wrapper--yellow-100 {
    background-color: var(--Yellow-100);
}

.card-wrapper--white {
    background-color: var(--White);
}


/* Span modifiers */

.card-wrapper__span--yellow {
    color: var(--Yellow-500);
}

.card-wrapper__span--purple {
    color: var(--Purple-500);
}

.card-wrapper__span--italic {
    font-style: italic;
}

/* Create post card */

.create-post {
    padding: 5rem 1rem;


}

.create-post__header {
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

.create-post__image {
    margin: auto;
    width: 55%;
}