:root {

    font-family: "DM+Sans", sans-serif;

    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --Dark-white: hsl(0deg 0% 96.08%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

}


/* universal */

body {
    background-color: var(--Dark-white);
}



main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "grid-group-one grid-group-two grid-group-two grid-group-three"
        "grid-group-one grid-group-two grid-group-two grid-group-three"
        "grid-group-one grid-group-four grid-group-four grid-group-four";
    gap: 1.5rem;
}

main>* {
    display: grid;
}

.card-wrapper {
    border-radius: .6rem;

}

.grid-group-one {
    grid-area: grid-group-one;
    gap: 1.5rem;
}

.grid-group-two {
    gap: 1.5rem;
    grid-area: grid-group-two;
}

.grid-group-two__inside-element {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid-group-three {
    grid-area: grid-group-three;
}

.grid-group-four {
    grid-template-areas: "left right";
    gap: 1.5rem;
    grid-template-columns: .98fr 2fr;
    grid-area: grid-group-four;

}

/* background color modifiers */

.card-wrapper--purple-500 {
    background-color: var(--Purple-500);
    color: var(--White);
}

.card-wrapper--purple-100 {
    background-color: var(--Purple-100);
}

.card-wrapper--yellow-500 {
    background-color: var(--Yellow-500);
}

.card-wrapper--yellow-100 {
    background-color: var(--Yellow-100);
}

.card-wrapper--white {
    background-color: var(--White);
}


/* Span modifiers */

.card-wrapper__span--yellow {
    color: var(--Yellow-500);
}

.card-wrapper__span--purple {
    color: var(--Purple-500);
}

.card-wrapper__span--italic {
    font-style: italic;
}

/* grid-group-one */

.create-post {
    font-size: 2rem;
    padding: 4rem 2rem;

}

.create-post__header {
    letter-spacing: -4px;
    line-height: 2.6rem;
    margin-bottom: 2rem;
}

.ai-content {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: -4px;
    padding: 1.8rem;
}

.ai-content__header {
    margin-bottom: 3rem;
}

/* grid-group-two */

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.social-media__header {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.social-media__image {
    width: 40%;
}

.social-media__description {
    font-size: 1.6rem;
    padding: 1rem;
}

.menage-platforms {
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 2rem;
}

.menage-platforms__header {
    padding: 4rem 2rem 2rem;
    line-height: 1.8rem;

}

.menage-platforms__image {
    position: relative;
    top: 1.6rem;
    left: 3rem;
    max-width: none;
    width: 116%;
}

.posting-schedule {
    padding: 2rem;
    overflow: hidden;
    font-size: 1.6rem;
    line-height: 2rem;
    position: relative;
}

.posting-schedule__header {
    margin-bottom: 1.6rem;
}

.posting-schedule__image {
    position: absolute;
    width: 78%;
    top: 13rem;
}

/* grid-group-three */

.schedule-posts {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 3rem 2rem;
    overflow: hidden;
}

.schedule-posts__header {
    margin-bottom: 1rem;
}

.schedule-posts__image {
    position: relative;
    max-width: 160%;
    margin-bottom: 1rem;
    left: 2rem;

}

.schedule-posts__description {
    line-height: 1.4rem;
    font-size: 1.6rem;

}

/* grid-group-four */

.faster-growth {
    grid-area: left;
    padding: 2rem;
}

.faster-growth__header {
    font-size: 4rem;
}

.faster-growth__description {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.faster-growth__image {
    width: 90%;
}


.grow-followers {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.grow-followers__image {
    width: 50%;
}

.grow-followers__header {
    align-self: center;
    font-size: 2.6rem;
    line-height: 3rem;

}