:root {

    font-family: "DM+Sans", sans-serif;

    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);
    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%)
}

main {
    display: grid;
}

/* universal */

.card-wrapper {
    /* NOTE: Some of this will be changed !!! */
    border: 1px solid black;
    border-radius: .6rem;
    margin: 1rem;
    padding: 1rem;

}